<div class="project">
    <div class="bg-container">
        <div class="background" style="background-image: url(../resources/{{bgImage}});"></div>
    </div>
    <div class="navigation">
        <a href="/" id="home-btn">[close]</a>
    </div>
    <section class="project-description">
        <h1>{{title}}</h1>
        {{{illustration}}}
        {{{description}}}
        {{{actions}}}
    </section>
</div>